html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Open Sans", Sans-serif;
	font-size: 14px;
}

nav {
	width: 100%;
	left: auto;
	right: auto;
}

.body-home {
	background: black;
}

/* Responsive */

/* Transitions */

@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fade;
}

/* Navigation */

nav, ul {
	text-align: center;
	padding: 0;
}

nav {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: ;
	background-color: white;
	margin-bottom: ;
}

.nav-bar {
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	padding-left: 20px;
	padding-right: 20px;
}

.button {
	opacity: 0.4;
	transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

a {
	color: #3b3b3b;
	text-decoration: none;
}

.active {
	opacity: 1;
	color: #3b3b3b;
}

ul, li, a:hover {
	opacity: 1;
	color: ;
	transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
}
}

p {
	margin: 0;
	color: #3b3b3b;
}

.line {
	width: 100%;
	opacity: 0.1;
	border-bottom: solid 1px;
}

.line-2 {
	opacity: 0.1;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	border-bottom: solid 1px;
}

.line-3 {
	color: white;
	opacity: 0.2;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	width: 100%;
	border-bottom: solid 1px;
}

.copyright {
	margin: 0;
	opacity: 0.4;
	color: white;
	font-size: 11px;
	margin-left: 10%;
	margin-top: 30px;
	padding-bottom: 30px;
}

#background {
	padding-top: 20px;
	background-color: #1a1a1a;
}

/* Footer */



/* Headers */

.small-title {
	margin: 0;
	margin-top: 60px;
	margin-left: 4px;
	margin-bottom: 20px;
	font-size: 18px;
	font-family: "Gotham Light";
}

.big-title {
	margin: 0;
	margin-bottom: 60px;
	font-size: 60px;
	font-family: "Gotham Light";
}

.center {
	text-align: center;
}

/* Thumbnails */

/* Home */

#center {
	margin-top: 100px;
	text-align: center;
}

#profile {
	width: 400px;
}

#glasses {
	width: 280px;
	margin-bottom: 20px;
}

#sub-title {
	font-size: 24px;
	margin-bottom: 30px;
}

#button {
	display: inline-block;
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;
	border: solid 1px;
	border-radius: 100px;
	width: 120px;
	margin-left: 14px;
	margin-right: 14px;
}

/* Portfolio */

.thumb-title {
	display: inline-block;
	position: absolute;
}

.thumbnail-group {
	margin-top: 8px;
}

.thumbnails {
	vertical-align: ;
	text-align: center;
}

.thumbnails-v2 {
	display: none;
	vertical-align: ;
	text-align: center;
}

.thumbnails-v3 {
	display: none;
	vertical-align: ;
	text-align: center;
}

.thumbnail {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	vertical-align: ;
	width: 30%;
	filter: grayscale(100%);
}

.thumbnail-v2 {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 40%;
}

.thumbnail-v3 {
	margin-left: 4px;
	margin-right: 4px;
	margin-top: 4px;
	margin-bottom: 4px;
	width: 94%;
}

.thumbnail:hover {
	filter: grayscale(0%);
}

.thumbnail-2:hover {
	filter: grayscale(0%);
}

#twitter {
	width: 26px;
	padding: 8px;
	margin-left: 10%;
	background-color: #059ff5;
}

#twitter:hover {
	opacity: 0.8;
}

#xbox {
	width: 26px;
	padding: 8px;
	margin-left: 4px;
	background-color: #027e00;
}

#xbox:hover {
	opacity: 0.8;
}

#instagram {
	width: 26px;
	padding: 8px;
	margin-left: 4px;
	background-color: #885b42;
}

#instagram:hover {
	opacity: 0.8;
}

/* Images */

.images {
	width: 70%;
}

.images-2 {
	width: 70%;
}

/* Main */

main {
	width: 70%;
	margin: auto;
}

/* Responsive */

/* Images */

@media (max-width: 660px) {
	main {
		width: 80%;
	}
	.images {
		width: 90%;
	}
	.images-2 {
		width: 90%;
	}
}

@media (min-width: 1100px) {
	main {
		width: 766px;
	}
	.images {
		width: 766px;
	}
}

/* Thumbnails */

660 - 800

@media (min-width: 200px) {
	.thumbnails-v3 {
		display: block;
	}
}

@media (max-width: 660px) {
	.thumbnails-v3 {
		display: block;
	}
	.thumbnails {
		display: none;
	}
}


/* Project Content */

.spacing {
	margin-top: 60px;
}

.p1-designs {
	margin: 0;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.p1 {
	margin: 0;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 60px;
}

.p2 {
	padding-top: 40px;
	padding-bottom: 60px;
	margin: 0;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0.4;
}

.p3 {
	padding-top: 80px;
	margin: 0;
	font-size: 18px;
	letter-spacing: 2px;
}

.line-overview {
	color: #54c2f5;
	padding-top: 6px;
	margin: 0;
	width: 92px;
	border-bottom: solid 2px;
}

.line-dev {
	color: #54c2f5;
	padding-top: 6px;
	margin: 0;
	width: 134px;
	border-bottom: solid 2px;
}


.p3v2 {
	opacity: 0.4;
	padding-top: 30px;
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
}

.p3v3 {
	opacity: 0.4;
	padding-top: 60px;
	margin: 0;
	font-size: 14px;
	letter-spacing: 1px;
}

.p3v4 {
	text-align: center;
	opacity: 0.2;
	padding-top: 20px;
	margin: 0;
	font-size: 12px;
	font-style: italic;
}

.p4 {
	padding-top: 20px;
	margin: 0;
	font-size: 14px;
	opacity: 0.6;
	line-height: 2;
}

.p5 {
	padding-top: 20px;
	padding-bottom: 60px;
	margin: 0;
	font-size: 14px;
	opacity: 0.6;
	line-height: 2;
}

.p7 {
	padding-top: 50px;
	margin: 0;
	font-size: 14px;
	opacity: 0.4;
	line-height: 2;
}


.p6 {
	font-size: 13px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	opacity: 0.4;
	text-align: center;
	padding: 8px;
	width: 160px;
	border: solid 1px;
	border-radius: 100px;
}

.p6:hover {
	color: white;
	background-color: black;
	opacity: 0.7;
	transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.other-links {
	color: #3b3b3b;
}

.other-links:hover {
	color: #3b3b3b;
}

/* About */

.center {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: 28px;
	letter-spacing: 2px;
	margin-top: 120px;
}

.under-title {
	letter-spacing: 1px;
	opacity: 0.4;
	font-size: 14px;
	margin-bottom: 120px;
}

.sub-title {
	font-weight: bolder;
	font-size: 14px;
	letter-spacing: 1px;
	width: 80%;
	margin: auto;
}

.sub-title2 {
	font-weight: bolder;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 80px;
}

.job-title {
	opacity: 0.4;
	font-size: 14px;
	font-style: italic;
}

.project-title {
	text-align: center;
	color: #3b3b3b;
	padding-top: 4%;
	padding-bottom: 4%;
	letter-spacing: 1px;
	font-size: 18px;
}

.paragraph0 {
	opacity: 0.4;
	line-height: 2;
	font-size: 16px;
}

.paragraph {
	margin: auto;
	opacity: 0.4;
	line-height: 2.5;
	font-size: 16px;
	margin-bottom: 30px;
	width: 80%;
}

.paragraph2 {
	margin: auto;
	opacity: 0.4;
	line-height: 2.5;
	font-size: 16px;
	margin-bottom: 80px;
	width: 80%;
}

.list {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
}

.software {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	width: 60%;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-bottom: 80px;
	border-radius: 10px;
}

.list-blue {
	display: inline-block;
	color: #95ccf9;
	line-height: 2;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	width: 140px;
	background-color: #20286c;
	border: solid #95ccf9 2px;
	margin-left: 8px;
	margin-right: 8px;
}

.list-yellow {
	display: inline-block;
	color: #fdb847;
	line-height: 2;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	width: 140px;
	background-color: #654220;
	border: solid #fdb847 2px;
	margin-left: 8px;
	margin-right: 8px;
}

.list-purple {
	display: inline-block;
	color: #cfa3fd;
	line-height: 2;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	width: 140px;
	background-color: #34346f;
	border: solid #cfa3fd 2px;
	margin-left: 8px;
	margin-right: 8px;
}

.list-grey {
	display: inline-block;
	color: #d0d0d0;
	line-height: 2;
	font-size: 14px;
	text-align: center;
	padding: 4px;
	width: 140px;
	background-color: #393939;
	border: solid #d0d0d0 2px;
	margin-left: 8px;
	margin-right: 8px;
}

.list2 {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
	margin-top: 40px;
}

.button2 {
	margin-top: 20px;
	color: white;
	text-align: center;
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
	width: 100px;
	margin-left: auto;
	margin-right: auto;
	border-radius: 4px;
	background-color: #71a246;
}

.button2:hover {
	opacity: 8;
}

.page-buttons {
	display: inline-block;
}

/* Store */

.header {
	font-size: 24px;
	text-align: center;
	margin-top: 200px;
}

/* App Links */

.link {
	opacity: 0.4;
	margin-top: 60px;
	text-align: center;
	font-size: 13px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.app-link {
	margin-left: 6px;
}


