html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Open Sans", Sans-serif;
	font-size: 14px;
}

nav {
	width: 100%;
	left: auto;
	right: auto;
}

/* Responsive */

/* Transitions */

@keyframes fade {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

.fade {
	animation-duration: 1s;
	animation-fill-mode: both;
	animation-name: fade;
}

/* Navigation */

nav, ul {
	text-align: center;
	padding: 0;
}

nav {
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: ;
	background-color: #1a1a1a;
	margin-bottom: ;
}

.nav-bar {
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	padding-left: 10px;
	padding-right: 10px;
}

.button {
	opacity: 0.4;
	transition-property: opacity;
    transition-duration: 0.2s;
    transition-timing-function: linear;
}

a {
	color: white;
	text-decoration: none;
}

.active {
	opacity: 1;
	color: white;
}

ul, li, a:hover {
	opacity: 1;
	color: white;
	transition-property: opacity;
    transition-duration: 0.4s;
    transition-timing-function: linear;
}
}
}

p {
	margin: 0;
	color: #3b3b3b;
}

/* Thumbnails */

.thumbnails-2 {
	display: none;
	position: static;
	float: left;
	text-align: center;
}

.thumbnail-2 {
	float: left;
	width: 49.99%;
	filter: grayscale(100%);
}

.thumbnail {
	float: left;
	width: 33.33%;
	filter: grayscale(100%);
}

.thumbnail:hover {
	filter: grayscale(0%);
}

.thumbnail-2:hover {
	filter: grayscale(0%);
}

/* Images */

.images {
	width: 70%;
}

.images-2 {
	width: 70%;
}

/* Main */

main {
	width: 70%;
	margin: auto;
}

/* Responsive */

@media (max-width: 660px) {
	main {
		width: 80%;
	}
	.images {
		width: 100%;
	}
	.images-2 {
		width: 100%;
	}
}

@media (min-width: 1100px) {
	main {
		width: 766px;
	}
	.images {
		width: 766px;
	}
}

@media (max-width: 660px) {
	.thumbnails {
		display: none;
	}
	.thumbnails-2 {
		display: inline-block;
	}
}

@media (max-width: 800px) {
	.thumbnail {
		width: 49.99%;
	}
}

/* Project Content */

.spacing {
	margin-top: 60px;
}

.p1-designs {
	margin: 0;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 60px;
	margin-bottom: 60px;
}

.p1 {
	margin: 0;
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 60px;
}

.p2 {
	padding-top: 40px;
	padding-bottom: 60px;
	margin: 0;
	text-align: center;
	font-size: 12px;
	letter-spacing: 1px;
	opacity: 0.4;
}

.p3 {
	padding-top: 60px;
	margin: 0;
	font-size: 14px;
	font-weight: bolder;
	letter-spacing: 1px;
}

.p4 {
	padding-top: 20px;
	margin: 0;
	font-size: 14px;
	opacity: 0.4;
	line-height: 2;
}

.p5 {
	padding-top: 20px;
	padding-bottom: 60px;
	margin: 0;
	font-size: 14px;
	opacity: 0.4;
	line-height: 2;
}

.p6 {
	font-size: 13px;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
	margin-top: 60px;
	opacity: 0.4;
	text-align: center;
	padding: 8px;
	width: 160px;
	border: solid 1px;
	border-radius: 100px;
}

.p6:hover {
	color: white;
	background-color: black;
	opacity: 0.7;
	transition-property: opacity;
    transition-duration: 0.1s;
    transition-timing-function: linear;
}

.other-links {
	color: #3b3b3b;
}

.other-links:hover {
	color: #3b3b3b;
}

/* About */

.center {
	text-align: center;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.title {
	font-size: 24px;
	letter-spacing: 2px;
	margin-top: 120px;
}

.under-title {
	text-align: center;
	letter-spacing: 1px;
	opacity: 0.4;
	font-size: 12px;
	margin-bottom: 120px;
}

.sub-title {
	font-weight: bolder;
	font-size: 14px;
	letter-spacing: 1px;
}

.sub-title2 {
	font-weight: bolder;
	font-size: 14px;
	letter-spacing: 1px;
	margin-top: 80px;
}

.job-title {
	opacity: 0.4;
	font-size: 14px;
	font-style: italic;
}

.project-title {
	text-align: center;
	color: #3b3b3b;
	padding-top: 4%;
	padding-bottom: 4%;
	letter-spacing: 1px;
	font-size: 18px;
}

.paragraph {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
}

.paragraph2 {
	opacity: 0.4;
	line-height: 2.5;
	font-size: 14px;
	margin-bottom: 80px;
}

.list {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
}
