html, body {
	margin: 0;
	padding: 0;
	border: 0;
}

body {
	font-family: "Open Sans", Sans-serif;
	font-size: 14px;
}
/* Navigation */

nav, ul {
	text-align: center;
	padding: 0;
}

nav {
	margin-top: 40px;
	margin-bottom: 40px;
}

.nav-bar {
	display: inline-block;
	font-size: 12px;
	letter-spacing: 1px;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.button {
	opacity: 0.4;
}

a {
	color: #3b3b3b;
	text-decoration: none;
}

.active {
	opacity: 1.0;
	color: #3b3b3b;
}

p {
	margin: 0;
	color: #3b3b3b;
}

/* Thumbnails */

.box {
	margin-bottom: 40px;
}

.thumbnails {
	text-align: center;
}

.thumb {
	margin: 0;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 2px;
	width: 18%;
}

/* Projects */

a.link {
	opacity: 0.8;
}

.title {
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.title2 {
	text-align: center;
	font-size: 24px;
	letter-spacing: 2px;
	margin-bottom: 60px;
}

.under-title {
	text-align: center;
	letter-spacing: 1px;
	opacity: 0.4;
	font-size: 12px;
}

.sub-title {
	font-weight: bolder;
	font-size: 14px;
	margin-bottom: 20px;
	letter-spacing: 1px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

.paragraph {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 60px;
}

.paragraph2 {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.lists {
	margin-bottom: 60px;
}

.list {
	opacity: 0.4;
	line-height: 2;
	font-size: 14px;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
}

ul.tags {
	margin: 0;
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 80px;
}

.tag {
	display: inline-block;
	opacity: 0.2;
	font-size: 13px;
	padding-left: 10px;
	padding-right: 10px;
}


.palette {
	text-align: center;
}

.colours {
	display: inline-block;
	border-radius: 100px;
	border: 4px solid #f7f7f7;
	margin-left: 4px;
	margin-right: 4px;
	width: 20px;
	margin-bottom: 80px;
}

.images {
	display: block;
	text-align: center;
}

.wide-img {
	margin-top: 40px;
	margin-bottom: 80px;
	width: 60%;
	padding: 20px;
	background-color: #f7f7f7;
}

.short-img {
	margin-top: 40px;
	margin-bottom: 80px;
	margin-left: 10px;
	margin-right: 10px;
	width: 21.05%;
	padding: 20px;
	background-color: #f4f4f4;
}